[Desktop Entry]
Encoding=UTF-8
Name=btcr
Comment=btcr P2P Cryptocurrency
Comment[fr]=btcr, monnaie virtuelle cryptographique pair à pair
Comment[tr]=btcr, eşten eşe kriptografik sanal para birimi
Exec=btcr-qt %u
Terminal=false
Type=Application
Icon=btcr128
MimeType=x-scheme-handler/btcr;
Categories=Office;Finance;
